<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/adminlogin/styles.css" />
    <link rel="stylesheet" type="text/css" href="/Login/css/style.css" />
  </head>
  <body>
    <% if(alert === 'password') { %>
    <div class="alert alert-danger alert-container" role="alert">
      <strong>Login Failed!</strong> Incorrect password 😕
    </div>
    <% } else if(alert === 'email') { %>
    <div class="alert alert-danger alert-container" role="alert">
      <strong>Login Failed!</strong> Email not found 😕
    </div>
    <% } else if(alert === 'not') { %>
    <div class="alert alert-danger alert-container" role="alert">
      <strong>Login Failed!</strong> Not a Admin User  😕
    </div>
    <% } %>

    <div class="cont">
      <form action="/admin/login" method="POST">
        <div class="form sign-in">
          <h2>Welcome back Admin</h2>
          <label>
            <span>Email</span>
            <input type="email" name="email" required />
          </label>
          <label>
            <span>Password</span>
            <input type="password" name="password" required/>
          </label>
          <button type="submit" class="submit">Sign In</button>
        </div>
      </form>
      <div class="img"></div>
      </div>
    </div>

    <a
      href="https://dribbble.com/shots/3306190-Login-Registration-form"
      target="_blank"
      class="icon-link"
    >
      <img
        src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png"
      />
    </a>
    <a
      href="https://twitter.com/NikolayTalanov"
      target="_blank"
      class="icon-link icon-link--twitter"
    >
      <img
        src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png"
      />
    </a>
  </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script>
      window.setTimeout(function () {
        $(".alert")
          .fadeTo(500, 0)
          .slideUp(500, function () {
            $(this).remove();
          });
      }, 5000);
    </script>
</html>
